@font-face {
    font-family: 'Museo';
    src: url("../fonts/MuseoSansCyrl_3.eot");
    src: url("../fonts/MuseoSansCyrl_3.eot?#iefix") format("embedded-opentype")
     url("../fonts/MuseoSansCyrl_3.ttf") format("ttf")
     url("../fonts/MuseoSansCyrl_3.woff") format("woff");
    font-weight: 400;
    font-style: normal; 
}

@font-face {
    font-family: 'Pro';
    src: url("../fonts/proximanova-regular.eot");
    src: url("../fonts/proximanova-regular.eot?#iefix") format("embedded-opentype")
     url("../fonts/proximanova-regular.ttf") format("ttf")
     url("../fonts/proximanova-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal; 
}

$link: #4094ed;
$link-hover: #3681d1;
$body-color: #252539;