.about-project{
	box-shadow: 0px 17px 45.36px 8.64px rgba(221, 221, 221, 0.22);
	.project-card{
		padding: 2.5rem;
		border-bottom: 3px solid #eeeeee;
		&:last-child{
			border:none;
		}
	}
}
.tascs{
	padding: 1.5rem 0;
	background-color: #fafcff;
	h4{
		margin-bottom: 3rem;
	}
}
.about-project-text{
	font-size: 15px;
	p{
		font-family: "MuseoSansCyrl", sans-serif;
	}
	small{
		font-size: 14px;
	}
	.carousel-control-prev{
		.carousel-control-prev-icon{
			position: absolute;
			left:0;
			background: none;
		}
	}
	.carousel-control-next{
		.carousel-control-next-icon{
			position: absolute;
			right:0;
			background: none;
		}
	}
}
.gea-map{
		height: 35rem;
		background-image: url(../../src/images/map.png);
		background-repeat: no-repeat;
		background-position-x: right;
		background-position-y: bottom;  
		ul{
			li{
				list-style-type: none;
				img{
					margin-right: 1rem;
				}
			}
		}
	}
@media (max-width: 576px){
	.about-project-text{
		.project-right-text{
			padding: 0 15px;
		}
		img{
			width: 100%;
		}
		.project-slider{
			.carousel-inner{
				img{
					width: 100%;
				}
			}
		}
	}
	.gea-map{
		background-size: contain;
		font-size: smaller;
	}
}