.galery{
	.galery-tabs{
		ul{
			background-color: #fff;
			justify-content: space-between;
			border-radius: 2rem;
			box-shadow: 0px 0px 45.36px 8.64px rgba(221, 221, 221, 0.22);
			li{
				padding: 1rem;
				list-style-type: none;
				&.tab-activ{
					color: #fff;
					border-radius: 2rem;
					background-color: #5dabff;
				}
			} 
		}
	}
	.galety-content{
		padding-bottom: 3rem;
		.galery-content-title{
			ul{
				padding: 0;
				display: flex;
				align-items: center;
				li{
					padding: 1rem 1.5rem;
					list-style-type: none;
					border-radius: 2rem;
					&:first-child{
						background-color: #f4f8fd;
					}
				}

			}
		}
		img{
			margin-bottom: 2rem;
			width: 100%;
		}
		button{
			margin: 0 auto;
			text-align: center;
			border: none;
			padding: 1rem 3rem;
			color: #fff;
			border-radius: 2rem;
			background: linear-gradient(to right top, #f75f84, #fa99b1);
			border-bottom: 5px solid #dd345d;
			box-shadow: 0px 4px 0px 0px rgba(221, 52, 93, 0.004),0px 15px 12.09px 0.91px rgba(248, 103, 138, 0.26);
			&:hover{
				background: linear-gradient(to right bottom, #fa99b1, #f75f84);
			}
		}

	}
}
@media (max-width: 576px){
	.galery{
		.galery-tabs{
			ul{
				flex-wrap: wrap;
			}
		}
		.galety-content{
			padding-bottom: 3rem;
			.galery-content-title{
				ul{
					li{
						padding: .5rem 1rem;
					}

				}
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 1024px){
	.galery{
		.galery-tabs{
			ul{
				flex-wrap: wrap;
			}
		}
	}
}