
body{
    margin: 0; 
    overflow-x: hidden; 
    color: #252539;
}

.first-screen{
    background-image: url(../img/fon.png);
    background-position: center;
    background-size: cover;
    padding: 80px 0px 100px;
    .container div, p{
        margin-left: 50px;
    }
    .subtitle{
        font-size: 18px;
        font-weight: 500;
        margin-left: -20px !important;
    }
    .title{
        font-size: 48px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    p{
        padding-bottom: 65px;
        font-size: 21px;
        max-width: 600px;
    }
}

 

.advantages{
    padding: 53px 0px 0px;
    .col-sm-12:nth-last-child(1) .item{
        .img-circle{
            max-width: 15px;
        } 
    }
    .item{
        display: flex;
        align-items: center;
        .text{
            margin-left: 20px;
        }
        .text p:nth-last-child(1){
            color: #7d7d85;
            font-size: 14px;
        }
        .title{
            display: flex;
            align-items: center;
            width: 100%;
            font-size: 24px;
            font-weight: 600; 
            p{
               margin-bottom: 5px;
            }
        }
        .img-circle{
            margin-left: auto;
            display: flex;
            align-items: center;
            height: 15px;
            max-width: 100px;
            width: 100%;
            img{
                object-fit: contain;
            }
            span{
                display: inline-block;
                vertical-align: middle;
                height: 1px;
                max-width: 75px;
                width: 100%;
                margin-left: 8px;
                background: #f3f6ff; 
            }
        }
    }
}

.branches{
    background-image: url(../img/map-fon.png);
    margin-top: 20px;
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 70px 0px 70px;
    .branch-cont{
        background: #fff;
        padding: 25px 30px 60px 40px;
        box-shadow: 0px 0px 30px rgba(214, 214, 214, 0.418);
        .title{
            font-size: 45px;
            font-weight: 600;
            line-height: 1.2;
        }
        p{
            font-size: 21px;
            margin: 20px 0px 0px;
        }
    }
}

.news{
    background-image: url(../img/fon2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0px 60px;
    margin-top: 80px;
    .cont{
        margin: 30px -15px 55px;
    }
    .sect-title{
        font-size: 48px;
        font-weight: 500;
        margin: 0px auto;
    }
    .col-lg-7{
        .info{
            padding: 25px 15px;
        }
        .date{
            font-size: 14px;
            color: #7d7d85;
            margin-bottom:  5px;
        }
        .title{
            font-size: 21px;
            font-weight: 700;
            margin-bottom: 15px;
        }
        .subtitle{
            font-size: 14px;
        }
        a{
            padding: 20px 0px;
            color: $body-color;
            font-weight: 500;
            background: #f3f6ff;
            display: block;
            text-align: center;
            width: 200px;
            margin-top: 60px;
            border-radius: 30px;
        }
    }
    ::-webkit-scrollbar {
        width: 15px;
        padding-right: 10px;
        background-color: #fff;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 15px;
        background: #e8f3ff;
    }
    ::-webkit-scrollbar-button{
        display: none;
    }
    .back{
        padding: 10px;
        background: #fff;
        &:last-child {
            background: linear-gradient(90deg, rgba(0, 0, 0, 0)2%, #fff 2%);
            padding: 0px 20px 0px 0px;
            max-height: 580px;
            overflow-x: scroll;
        }
        
        .img{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
    .button{
        display: block;
        margin: 0px auto;
    }
    .button:hover{
        margin: 3px auto -3px;
    }
    .cont-news{
        margin: 30px 0px 0px 30px;
        .item{
            margin-bottom: 30px;
            display: flex;
            .img{
                max-width: 125px;
                max-height: 85px;
            }
            .info{
                margin-left: 20px;
                .title{
                    font-weight: 700;
                }
                .date{
                    font-size: 14px;
                }
            }
        }
        .item:hover{
            background: rgb(243, 243, 243);
        }
    }
}

.story{
    .container{
        .title{
            text-align: center;
            font-size: 48px;
            font-weight: bold;
            margin-top: 40px;
        }
        a{
            display: block;
            margin: 0px auto 0px;
        }
        a:hover{
            margin: 3px auto -3px;
        }
    }
    .slider-nav {
        width: 155px;
        display: flex;
        margin: 15px auto;
        svg{
            max-width: 30px;
            height: 30px;
        } 
    }    
    .slider-nav .left {
        margin-right: 15px;
        svg{
            transform: rotate(180deg);
        } 
    } 
    .slider-nav .left:hover, .slider-nav .right:hover{
        background: #cedbeb;
    }
    .slider-nav .left, .slider-nav .right{
        transition: all.4s;
        background: #d9ebff;
        width: 70px;
        padding: 10px 20px;
        height: 50px;
        border-radius: 50px;
    }
    .slider-story{
        padding-top: 40px;
        padding-bottom: 45px;
        .button:hover{
            margin: 3px auto -3px;
        }
        .owl-stage{
            display: flex;
        }
        .owl-stage-outer{
            overflow-x: hidden;
        }
        .owl-nav, .owl-dots{
            display: none;
        }
        .story-item{
            .info{
                padding: 25px;
                .date-video{
                    font-size: 13px;
                    color: #acbfd3;
                    font-weight: 500;
                }
                .title{
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
       .owl-item{
           max-height: 370px;
           margin: 15px;
           .video{
               a img{
                   width: 100%;
               }
           }
           .info{
               text-align: center;
           }
       } 
    }
}


.project{
    padding: 80px 0px;
    .title{
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    .subtitle{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
    }
}
@media(max-width:1200px){
    .advantages .item .img-circle {
            width: 15px;
        span{
            display: none;
        }
    }
}

@media(max-width:992px){
    .advantages .item {
        .img-circle {
            display: none;
    }
    .img{
        max-width: 80px;
        width: 100%;
        img{
            width: 100%;
        }
    }
    }
}

@media(max-width:768px){
    header {
        .soc-net a {
            padding: 0px 10px;
        }
        ul{
            margin-bottom: 0px;
        }
    }
    .first-screen .container div, .first-screen p {
        margin-left: 0px !important;
    }
    .news .cont{
        margin: 30px 0px 50px;
    }
    .news .back:last-child {
        background: #fff !important; 
    }
    .branches{
        margin-top: 20px;
        background-position: top center;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 450px 0px 0px;
    }
}

@media(max-width:576px){
    .branches{
        margin-top: 20px;
        background-position: top center;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 340px 0px 0px;
    }
    .story .slider-story .owl-item{
        max-height: 500px;
    }
}

@media(max-width:426px){
    .first-screen {
        padding: 80px 0px 20px !important;
        .title{
        margin: 20px 0px;
        font-size: 28px !important; 
        font-weight: bold;
        }
        p{
        padding: 0px 0px 20px !important;
        font-size: 14px !important;
         }
        .button-2{
        margin: 20px 0px 0px;
         }
    }
    .news .back:last-child{
        max-height: 360px;
    }
    .news .cont-news .item .info .title{
        font-size: 13px;
    }
    .branches{
        padding: 240px 0px 0px;
        .title{
            font-size: 32px !important;
        }
        p{
            font-size: 16px !important;
        }
    }
}
