.link{
	width: max-content;
	padding: 10px 0;
	border-radius: 2rem;
	background-color: #f4f9fe;
	ul{
		padding: 0;
		display: flex;
		justify-content: space-evenly;
		margin: 0;
		li{
			margin: 0 10px;
			list-style-type: none;
			&:last-child{
				a{
					color: #000;
				}
			}
		}
	}
}
.library{
	width: max-content;
	.tabs{
		ul{
			border-radius: 4rem;
			box-shadow: 0px 0px 45.36px 8.64px rgba(221, 221, 221, 0.22);
			li{
				list-style-type: none;
				padding: 1.2rem 2.5rem;
				cursor: pointer;
			}
			.tab-activ{
				border-radius: 4rem;
				color: #fff;
				background-color: #5dabff;
			}
		}
	}
}
.library-content{
	padding-top: 3rem;
	.library-card{
		margin-bottom:2rem;
		box-shadow: 0px 17px 45.36px 8.64px rgba(221, 221, 221, 0.22);
	.card-text{
			color: #424253;
		}
	}
		button{
			margin-top: 3.5rem;
			border: none;
			padding: 1rem 3rem;
			color: #fff;
			border-radius: 2rem;
			background: linear-gradient(to right top, #f75f84, #fa99b1);
			border-bottom: 5px solid #dd345d;
			box-shadow: 0px 4px 0px 0px rgba(221, 52, 93, 0.004),0px 15px 12.09px 0.91px rgba(248, 103, 138, 0.26);
			&:hover{
				background: linear-gradient(to right bottom, #fa99b1, #f75f84);
			}
		}
}