.page-news{
    padding-bottom: 105px;
    .item{
        box-shadow: 0 0 30px rgba(226, 226, 226, 0.418);
        padding: 10px;
        margin: 10px 0px;
        display: flex;
        .text{
            width: calc(100% - 390px);
            padding: 10px 0px;
            margin-left: 40px;
            .date{
                font-size: 14px;
                color: #74747d;
            }
            .title{
                font-size: 24px;
                font-weight: 500;
                text-decoration: none;
                color: $body-color;
                transition: all.4s;
            }
        }
        .img{
            max-width: 350px;
            max-height: 205px;
            width: 100%;
            height: 100%;
            overflow: hidden;
            img{
                width: 100%;
                object-fit: cover; 
                object-position: center;
            }
        }
    }
    .button{
        display: block;
        margin: 60px auto 0px;
    }
    .button:hover{
        margin: 63px auto -3px;
    }
}

.page-news .item .title:hover{
    color: $link-hover;
}

@media(max-width:992px){
    .news-page__cont__item{
        display: flex;
        flex-wrap: wrap;
    }
    .page-news{
        .item{
            flex-direction: column;
            width: calc(50% - 20px);
            margin: 10px;
            .img{
                max-width: 100%;
            }
            .text{
                width: 100%;
                padding: 15px 5px 5px;
                margin-left: 0px;
            }
        }
    }
}

@media(max-width:768px){
    .page-news{
        .item{
            .text{
                .title{
                    font-size: 18px;
                }
                p{
                    font-size: 13px;
                }
            }
        }
    }
}

@media(max-width:578px){
    .page-news{
        padding-bottom: 45px;
        .item{
            flex-direction: column;
            width: 100%;
            margin: 10px 0px;
        }
        .img{
            max-height: 405px !important;
            height: 100%;
        }
    }
}















