.button{
    font-size: 18px;
    padding: 25px 0px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    font-family: inherit;
    background-image: url(../img/button-fon.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 0px #dd345d;
    border-radius: 80px;
    max-width: 250px;
    width: 100%;
    transition: all.4s;
}
.button:hover{
    text-decoration: none;
    margin-top: 3px;
    color: #fff;
    margin-bottom: -3px;
    box-shadow: 0px 2px 0px #b42a4c;
}

.button-2{
    background: none;
    border: 2px solid #dbdbdb;
    color: #252539;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
    margin-left: 15px;
}
.button-2:hover{
    color: #252539;
    text-decoration: none;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
}





