footer{
    background: #f4f4f4;
    .row{
        align-items: center; 
        .cont-logo .row{
            align-items: flex-start;
            margin-left: -15px;
            padding: 35px 0px;
        }
    }
    .cont-search .row .select{ 
        margin-left: auto;
        margin-right: 20px; 
        a{
            padding: 10px 20px;
        }
        a img{
            transition: all.4s;
        }
        a:hover img{
            transform: rotate(20deg);
        }
        select{
            outline: none; 
            cursor: pointer;
            font-weight: 500;
            padding: 10px 40px 10px 20px;
            appearance:none;
            background-image: url(../img/bottom-arrow.png);
            background-position: 80% 50%;
            background-repeat: no-repeat;
            -webkit-appearance:none;
	        -moz-appearance:none;
        	-ms-appearance:none;
            border: 5px solid #e8f3ff;
        }
    }
    .link{
        text-align: right;
    }
    .link a:nth-child(1){
        font-size: 24px;
        color: $body-color;
        font-weight: 500;
    }
    .link a:nth-last-child(1){
        font-weight: 500;
        color: $link; 
        font-size: 18px;
    }
    .link a:nth-last-child(1):hover{
        color: $link-hover; 
    }
    .link a img{
        margin-right: 10px; 
    }
    .header-select{
        display: flex;
        align-items: center;
    }
    .container.nav-menu .row{
        align-items: center; 
        padding: 20px 0px;
    }
    a{
        text-decoration: none;
    }
    a:hover{
        text-decoration: none;
    }
    li{
        list-style-type: none;
        display: inline-block;
        margin: 0px 40px;
        a{
            font-weight: 600;
            color: $link;
        }
        a:hover{
            color: $link-hover;
        }
    }
    .soc-net{
        a{
            padding: 0px 20px;
        }
        svg{
            fill: #bbd4ef;
            transition: all.4s;
        }
        a:hover svg{
            fill: $link-hover;
        }
    }
    ul{
        padding-left: 0px;
        
    }
    li:nth-child(1){
        margin-left: 0px !important;
    }
    ul li:nth-child(1) img{
        margin-left: 5px;
        transform: rotate(360deg);
        transition: all.4s;
    }

    ul li:nth-child(1):hover img{
        transform: rotate(270deg);
    }
    .soc-net{
        a{
            padding: 0px 0px 0px 30px;
        }
        margin-right: -30px;
    } 
    .logo-company{
        text-align: center;
        padding: 0px 5px;
        .title{
            font-size: 11px;
            color: #86868d;
            margin-top: 10px;
        }
        .img{
            height: 50px;
            img{
                object-fit: contain;
                object-position: center; 
            }
        }
    } 
}
.bottom-bullshit{
    padding: 20px 0px;
    p{
        color: #a1a8ad;
        font-size: 14px;
        margin-bottom: 0px; 
    }
}

@media(max-width:1024px){
    footer .link{
        margin-left: auto;
    }
    header .soc-net a{
        padding: 0px 15px; 
    }
}

@media(max-width:768px){
    footer .row{
        padding: 15px 0px;
        .cont-logo .row{
            margin-left: 0px;
            margin-right: 0px;
            padding: 0px;
        }
    } 
    footer .logo-company{
        padding: 15px;
        text-align: left;
    }
    footer .row{
        align-items: flex-start;
    }
    footer .col-sm-5.cont-search{
        display: none;
    }
    .bottom-bullshit{
        padding: 15px;
    }
}

@media(max-width:576px){
    .bottom-bullshit{
        background: #f4f4f4;
    }
}
