header{
    background: #fff;
    box-shadow: 0 15px 30px rgba(207, 207, 207, 0.178);
    .row{
        align-items: center; 
        .cont-logo .row{
            align-items: flex-start;
            margin-left: -15px;
            padding: 35px 0px;
        }
    }
    .cont-search .select{
        margin-left: auto;
        margin-right: 20px; 
        a{
            padding: 10px 20px;
        }
        a img{ 
            transition: all.4s;
        }
        a:hover img{
            transform: rotate(20deg);
        }
        select{
            outline: none;
            cursor: pointer;
            font-weight: 500;
            padding: 10px 40px 10px 20px;
            appearance:none;
            background-image: url(../img/bottom-arrow.png);
            background-position: 80% 50%;
            background-repeat: no-repeat;
            -webkit-appearance:none;
	        -moz-appearance:none;
        	-ms-appearance:none;
            border: 5px solid #e8f3ff;
        }
    }
    .link{
        text-align: right;
    }
    .link a:nth-child(1){
        font-size: 24px;
        color: $body-color;
        font-weight: 500;
    }
    .link a:nth-last-child(1){
        font-weight: 500;
        color: $link; 
        font-size: 18px;
    }
    .link a:nth-last-child(1):hover{
        color: $link-hover; 
    }
    .link a img{
        margin-right: 10px; 
    }
    .header-select{
        display: flex;
        align-items: center;
    }
    .container.nav-menu .row{
        align-items: center; 
        padding: 20px 0px;
    }
    a{
        text-decoration: none;
    }
    a:hover{
        text-decoration: none;
    }
    li{
        list-style-type: none;
        display: inline-block;
        margin: 0px 30px;
        a{
            font-weight: 600;
            color: $link;
        }
        a:hover{
            color: $link-hover;
        }
    }
    .soc-net{
        a{
            padding: 0px 20px;
        }
        svg{
            fill: #bbd4ef;
            transition: all.4s;
        }
        a:hover svg{
            fill: $link-hover;
        }
    }
    ul{
        margin-left: -30px;
    }
    ul li:nth-child(1) img{
        margin-left: 5px;
        transform: rotate(360deg);
        transition: all.4s;
    }

    ul li:nth-child(1):hover img{
        transform: rotate(270deg);
    }

    .logo-company{
        text-align: center;
        padding: 0px 5px;
        .title{
            font-size: 11px;
            color: #86868d;
            margin-top: 10px;
        }
        .img{
            height: 50px;
            img{
                object-fit: contain;
                object-position: center; 
            }
        }
    }
    .mobile-menu{
        display: none;
        position: relative;
        height: 30px;
        width: 36px;
        span{
            display: inline-block;
            position: absolute;
            height: 3px;
            width: 100%;
            background: $body-color;
        }
    } 
    .mobile-menu span:nth-child(1){
        top: 0px;
    }
    .mobile-menu span:nth-child(2){
        top: 14px;
    }
    .mobile-menu span:nth-child(3){
        top: 28px;
    }
}

@media(max-width:1200px){
    .soc-net{
        max-width: 250px;
        width: 100%;
        margin-left: auto;
    }
    header ul, footer ul{
        margin-left: 0px;
        padding: 0px;
        li{
            margin: 0px 15px;
        }
    }
}

@media(max-width:1024px){
    .container{
        max-width: 850px;
    }
    header .cont-search .row{
        display: block;
        text-align: right;
        .link{
            margin-top: 20px;
        }
    }
    header .soc-net a{
        padding: 0px 15px;
    }
}

@media(max-width:992px){
    header .link{
        margin-left: auto;
        margin-top: 20px;
    }
    header .row .cont-logo .row{
        padding: 15px 0px;
    }
    header .logo-company{
        padding: 15px;
    }
}

    
@media(max-width:768px){
    header {
        .soc-net a {
            padding: 0px 10px;
        }
        ul{
            margin-bottom: 0px;
        }
    }
    header .row{
        padding: 15px 0px;
        .cont-logo .row{
            margin-left: 0px;
            margin-right: 0px;
            padding: 0px;
        }
    } 
    header .logo-company{
        padding: 15px;
        text-align: left;
    }
    .mobile-menu{
        display: block !important;
        margin: auto 15px auto auto;
    }
    header .row{
        align-items: flex-start;
    }
    .container.nav-menu{
        display: none;
    }
    header .col-sm-5.cont-search{
        display: none;
    }
}
@media(max-width:576px){ 
    .cont-logo{
        display: none;
    }
}
