.mobile-window {
    position: fixed;
    overflow: scroll;
    top: 0;
    right: -100%;
    transition: all 0.8s;
    height: 100vh;
    z-index: 2000;
    width: 300px;
    padding: 25px 25px;
    background: #fff;

    ul li:nth-child(1) img{
        margin-left: 5px;
        transform: rotate(360deg);
        transition: all.4s;
    }

    ul li:nth-child(1):hover img{
        transform: rotate(270deg);
    }
}

.mobile-menu-close{
    position: absolute;
    top: 35px;
    right: 25px;
}

.mobile-window.nav-open {
    right: 0;
    z-index: 10000;
}

.mobile-window{
    .row{
        align-items: center; 
        .cont-logo .row{
            align-items: flex-start;
            margin-left: -15px;
            padding: 35px 0px;
        }
    }
    .cont-search .select{
        a{
            padding: 10px 20px;
        }
        a img{
            transition: all.4s;
        }
        a:hover img{
            transform: rotate(20deg);
        }
        select{
            outline: none;
            cursor: pointer;
            font-weight: 500;
            padding: 10px 40px 10px 20px;
            appearance:none;
            background-image: url(../img/bottom-arrow.png);
            background-position: 80% 50%;
            background-repeat: no-repeat;
            -webkit-appearance:none;
	        -moz-appearance:none;
        	-ms-appearance:none;
            border: 5px solid #e8f3ff;
        }
    }
    .link{
        margin: 20px 0px;
        text-align: left;
    }
    .link a:nth-child(1){
        font-size: 24px;
        color: $body-color;
        font-weight: 500;
    }
    .link a:nth-last-child(1){
        font-weight: 500;
        color: $link; 
        font-size: 18px;
    }
    .link a:nth-last-child(1):hover{
        color: $link-hover; 
    }
    .link a img{
        margin-right: 10px; 
    }
    a{
        text-decoration: none;
    }
    a:hover{
        text-decoration: none;
    }
    ul{
        margin: 20px 0px 40px !important;
        padding: 0px;
    }
    li{
        list-style-type: none;
        padding: 10px 0px;
        a{
            font-weight: 600;
            color: $link;
        }
        a:hover{
            color: $link-hover;
        }
    }
    .soc-net{
        a{
            padding: 0px 20px;
        }
        svg{
            fill: #bbd4ef;
            transition: all.4s;
        }
        a:hover svg{
            fill: $link-hover;
        }
    }
}   

.breadcrumb-sec{
    margin-top: 30px;
    .breadcrumb{
        margin-bottom: 0px;
        background: #f4f9fe;
        border-radius: 40px;
        padding: 13px 30px 13px 13px;;
        display: inline-flex;
        .breadcrumb-item + .breadcrumb-item::before{
            content: '';
            background-image: url(../img/right-arrow.png);
            width: 13px;
            height: 9px;
            margin-right: 15px;
        } 
    }
}

.title-sec{
        font-size: 48px;
        font-weight: 500;
        margin-bottom: 30px;
}


